<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hana Blame</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            @RenderSection("MenuItems", required: false)
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>
</nav>
<div class="preview-bar">
    <p class="center-vertical">This is a preview. Data may be wiped or partially dropped during development.</p>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>Copyright &copy; @ViewData["CopyrightYear"] - @ViewData["CopyrightHolder"]</p>
    </footer>
</div>

<environment names="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/three.js/three.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/shared.js" asp-append-version="true"></script>
    <script src="~/js/replay.js" asp-append-version="true"></script>
    <script src="~/js/data.js" asp-append-version="true"></script>
    <script src="~/js/navigation.js" asp-append-version="true"></script>
    <script src="~/js/thread.js" asp-append-version="true"></script>
    <script src="~/js/browse.js" asp-append-version="true"></script>
    <script src="~/js/snitch.js" asp-append-version="true"></script>
    <script src="~/js/rendercontext.js" asp-append-version="true"></script>
    <script src="~/js/analysis.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/95/three.min.js"
            asp-fallback-src="~/lib/three.js/three.min.js">
    </script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
